.secundario, .primario {
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-bottom: 3px solid;
  cursor: pointer;
}

.boton-ofertas {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titulo-ofertas {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: rgbrgb(194, 239, 208);
}

.main-farmacia {
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.titulo-farmacia {
  background-color: rgb(249, 233, 255);
  padding: 13px;
  font-size: 26px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media screen and (min-width: 120px) and (max-width: 424px) {
  .parrafito {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
  }
  .subtitulo {
    text-align: center;
    font-size: 22px;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .parrafito {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
  }
  .subtitulo {
    text-align: center;
    font-size: 22px;
  }
}
@media screen and (min-width: 699px) and (max-width: 2400px) {
  .parrafito {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 22px;
  }
  .subtitulo {
    text-align: center;
    font-size: 26px;
  }
}
* {
  margin: 0;
}

header {
  display: flex;
  background-color: rgb(249, 240, 253);
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
}

header h1 {
  background-color: rgb(248, 220, 253);
  padding: 20px;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.lista-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
  height: 20px;
  margin-bottom: 1rem;
}

#list-nav {
  color: rgb(5, 1, 45);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.main-cosmetica {
  display: flex;
  height: 100vh;
}

.card-img-top {
  width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .main-cosmetica {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .card-img-top {
    width: 80px;
  }
  .card-text {
    font-size: 15px;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .main-cosmetica {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
/*media escritorio*/
@media screen and (min-width: 901px) and (max-width: 1400px) {
  #list-nav {
    padding: 30px;
    background-color: rgb(248, 216, 251);
  }
  .header-cosmetica {
    display: flex;
    background-color: rgb(249, 240, 253);
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
  }
  .card-title {
    font-size: 29px;
    text-align: start;
  }
  .card-text {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 15px;
  }
  .card {
    width: 14rem !important;
  }
  .main-cosmetica {
    height: auto;
  }
}
.titulo-formulario {
  color: rgb(236, 244, 251);
  background-color: rgb(245, 207, 255);
  padding: 35px;
  font-weight: 300;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.lista-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding: 20px;
  height: 70px;
  margin-bottom: 1rem;
}

#list-nav {
  color: rgb(176, 0, 138);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.formulario {
  min-height: 100vh;
  font-size: 25px;
  font-weight: 200;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

/*diseno mobile*/
@media screen and (min-width: 120px) and (max-width: 424px) {
  .grid {
    display: grid;
    grid-template-areas: "header" "nav" "servicios" "servicios" "destacadas" "footer";
    grid-template-rows: 100px 100px 400px 180px 300px 300px;
    grid-template-columns: auto;
    height: 100%;
  }
  header {
    grid-area: header;
    padding: 10px;
    background-image: linear-gradient(to left, #f8ebeb, rgb(246, 246, 245), #e4d4e2);
  }
  nav {
    grid-area: nav;
    background-color: rgb(249, 240, 253);
  }
  .destacadas {
    grid-area: destacadas;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .parrafo {
    font-size: 100%;
    padding: 25px;
    color: black;
    font-weight: bold;
    border-bottom: #35ca74 solid 2px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
  }
  #servicios {
    grid-area: servicios;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .border {
    border: 0px solid rgb(244, 219, 245);
  }
  footer {
    grid-area: footer;
    background-color: rgb(114, 112, 112);
  }
  .lista-nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1rem;
    height: 70px;
    margin-bottom: 1rem;
    justify-content: space-around;
  }
  #list-nav {
    color: rgb(5, 1, 45);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .header-titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
  }
  .imagen-logo {
    transform: translate(30px, 4px);
    height: 20px;
    width: 20px;
  }
  .marcas {
    display: flex;
    width: 150px;
  }
  .continuar {
    padding: 10px;
  }
  .continuar .titu-parra {
    text-align: center;
    font-size: 15px;
  }
  .continuar #card-img-top {
    width: auto;
  }
  .continuar .card-body {
    font-size: 10px;
    background-color: #35ca74;
    color: rgb(2, 2, 2);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
/*media tablet*/
@media screen and (min-width: 425px) and (max-width: 767px) {
  .continuar {
    padding: 20px;
  }
  .continuar .titu-parra {
    text-align: center;
    font-size: 20px;
  }
  .continuar #card-img-top {
    width: auto;
  }
  .continuar .card-body {
    font-size: 10px;
    background-color: #35ca74;
    color: rgb(2, 2, 2);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .grid {
    display: grid;
    grid-template-areas: "header" "nav" "servicios" "servicios" "destacadas" "footer";
    grid-template-rows: 100px 100px 400px 180px 300px 300px;
    grid-template-columns: auto;
    height: 100%;
  }
  header {
    grid-area: header;
    background-color: rgb(249, 240, 253);
  }
  nav {
    grid-area: nav;
    background-color: rgb(235, 217, 252);
  }
  .conteiner-fluid {
    grid-area: footer;
    background-color: rgb(114, 112, 112);
    bottom: 0;
  }
  #productos {
    grid-area: productos;
    background-color: rgb(67, 214, 87);
  }
  #servicios {
    grid-area: servicios;
    width: auto;
  }
  .border {
    border: 0px solid rgb(244, 219, 245);
  }
  .imagen-logo {
    transform: translate(5px, 0px);
    padding: 5px;
    width: 80px;
    height: 80px;
  }
  .destacadas {
    grid-area: destacadas;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .parrafo {
    font-size: 100%;
    padding: 25px;
    color: black;
    font-weight: bold;
    border-bottom: #35ca74 solid 2px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
  }
  .marcas {
    width: 200px;
  }
}
/*media escritorio*/
@media screen and (min-width: 699px) and (max-width: 2560px) {
  .continuar {
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-around;
  }
  .continuar li a {
    color: #030303;
  }
  .continuar .titu-parra {
    text-align: center;
    font-size: 20px;
  }
  .continuar #card-img-top {
    width: auto;
  }
  .continuar .card-body {
    font-size: 25px;
    background-color: #b7d597;
    color: rgb(2, 2, 2);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .grid {
    display: grid;
    grid-template-areas: "header" "nav" "servicios" "servicios" "destacadas" "footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
    height: 100%;
  }
  header {
    grid-area: header;
    background-color: rgb(249, 240, 253);
  }
  nav {
    grid-area: nav;
    background-color: rgb(210, 178, 240);
  }
  .conteiner-fluid {
    grid-area: footer;
    background-color: rgb(114, 112, 112);
    bottom: 0;
  }
  #productos {
    grid-area: productos;
    background-color: rgb(67, 214, 87);
  }
  #servicios {
    grid-area: servicios;
    width: auto;
  }
  .border {
    border: 0px solid rgb(244, 219, 245);
  }
  .imagen-logo {
    transform: translate(10px, 10px);
    padding: 30px;
    width: 200px;
    height: 200px;
  }
  #list-nav:hover {
    font-size: 20PX;
    color: rgb(67, 214, 87);
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  #list-nav {
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: color 1.5s, font-size 1.5s;
  }
  .nav-link {
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition: color 1.5s, font-size 1.5s;
  }
  .nav-link:hover {
    font-size: 20PX;
    color: rgb(67, 214, 87);
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .marcas {
    width: 400px;
    height: 400px;
  }
}
.destacadas {
  grid-area: destacadas;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.destacadas p {
  font-size: 150%;
  color: black;
  font-weight: bold;
  border-bottom: #35ca74 solid 2px;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
}

.lista-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 1rem;
  height: 70px;
  margin-bottom: 1rem;
}

.primario {
  background-color: rgb(49, 47, 47);
  color: aliceblue;
}

.secundario {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

.button {
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-bottom: 3px solid;
  cursor: pointer;
}

@media screen and (min-width: 120px) and (max-width: 424px) {
  .main-ofertas {
    padding: 20px;
    display: flex;
    padding: 30px;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .main-ofertas .card {
    border: 0px;
  }
}
@media screen and (min-width: 425px) and (max-width: 698px) {
  .main-ofertas {
    padding: 20px;
    display: flex;
    padding: 30px;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .main-ofertas .card {
    border: 0px;
  }
}
@media screen and (min-width: 699px) and (max-width: 2500px) {
  .main-ofertas {
    display: flex;
    padding: 20px;
    min-height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-ofertas .card {
    border: 0px;
  }
}/*# sourceMappingURL=styles.css.map */