.secundario, .primario {
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-bottom: 3px solid;
  cursor: pointer;
}

.boton-ofertas {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titulo-ofertas {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: rgbrgb(194, 239, 208);
}

.main-farmacia {
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.card {
  width: 400px;
}

.imagenes-tarjeta {
  width: 200px;
}

header h1 {
  background-color: rgb(151, 240, 210);
  padding: 16px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.lista-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
  height: 20px;
  margin-bottom: 1rem;
}

#list-nav {
  color: rgb(5, 1, 45);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.dermocosmetica {
  padding: 0.5px;
  width: 960px;
  height: auto;
}

.main-cosmetica {
  display: flex;
}

.card-img-top {
  width: 200px;
}

.titulo-formulario {
  color: rgb(236, 244, 251);
  background-color: #333;
  padding: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.lista-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding: 1rem;
  height: 70px;
  margin-bottom: 1rem;
}

#list-nav {
  color: rgb(5, 1, 45);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.formulario {
  text-align: center;
  padding: 40px;
}

/*diseno mobile*/
@media screen and (min-width: 120px) and (max-width: 424px) {
  .grid {
    display: grid;
    grid-template-areas: "header" "nav" "servicios" "servicios" "destacadas" "footer";
    grid-template-rows: 100px 100px 400px 180px 300px 300px;
    grid-template-columns: auto;
    height: 100%;
  }
  header {
    grid-area: header;
    padding: 10px;
    background-image: linear-gradient(to left, #f8ebeb, rgb(246, 246, 245), #e4d4e2);
  }
  nav {
    grid-area: nav;
    background-color: rgb(249, 240, 253);
  }
  .destacadas {
    grid-area: destacadas;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .parrafo {
    font-size: 100%;
    padding: 25px;
    color: black;
    font-weight: bold;
    border-bottom: #35ca74 solid 2px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
  }
  #servicios {
    grid-area: servicios;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .border {
    border: 0px solid rgb(244, 219, 245);
  }
  footer {
    grid-area: footer;
    background-color: rgb(114, 112, 112);
  }
  .lista-nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1rem;
    height: 70px;
    margin-bottom: 1rem;
    justify-content: space-around;
  }
  #list-nav {
    color: rgb(5, 1, 45);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .header-titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
  }
  .imagen-logo {
    transform: translate(30px, 4px);
    height: 20px;
    width: 20px;
  }
  .marcas {
    display: flex;
    width: 150px;
  }
}
/*media tablet*/
@media screen and (min-width: 425px) and (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-areas: "header" "nav" "servicios" "servicios" "destacadas" "footer";
    grid-template-rows: 100px 100px 400px 180px 300px 300px;
    grid-template-columns: auto;
    height: 100%;
  }
  header {
    grid-area: header;
    background-color: rgb(249, 240, 253);
  }
  nav {
    grid-area: nav;
    background-color: rgb(235, 217, 252);
  }
  .conteiner-fluid {
    grid-area: footer;
    background-color: rgb(114, 112, 112);
    bottom: 0;
  }
  #productos {
    grid-area: productos;
    background-color: rgb(67, 214, 87);
  }
  #servicios {
    grid-area: servicios;
    width: auto;
  }
  .border {
    border: 0px solid rgb(244, 219, 245);
  }
  .imagen-logo {
    transform: translate(5px, 0px);
    padding: 5px;
    width: 80px;
    height: 80px;
  }
  .destacadas {
    grid-area: destacadas;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .parrafo {
    font-size: 100%;
    padding: 25px;
    color: black;
    font-weight: bold;
    border-bottom: #35ca74 solid 2px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
  }
  .marcas {
    width: 200px;
  }
}
/*media escritorio*/
@media screen and (min-width: 699px) and (max-width: 1387px) {
  .grid {
    display: grid;
    grid-template-areas: "header" "nav" "servicios" "servicios" "destacadas" "footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
    height: 100%;
  }
  header {
    grid-area: header;
    background-color: rgb(249, 240, 253);
  }
  nav {
    grid-area: nav;
    background-color: rgb(235, 217, 252);
  }
  .conteiner-fluid {
    grid-area: footer;
    background-color: rgb(114, 112, 112);
    bottom: 0;
  }
  #productos {
    grid-area: productos;
    background-color: rgb(67, 214, 87);
  }
  #servicios {
    grid-area: servicios;
    width: auto;
  }
  .border {
    border: 0px solid rgb(244, 219, 245);
  }
  .imagen-logo {
    transform: translate(10px, 10px);
    padding: 30px;
    width: 200px;
    height: 200px;
  }
  #list-nav:hover {
    font-size: 25PX;
    color: rgb(67, 214, 87);
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  #list-nav {
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-size: 50px;
    transition: color 1.5s, font-size 1.5s;
  }
  .nav-link {
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-size: 50px;
    transition: color 1.5s, font-size 1.5s;
  }
  .nav-link:hover {
    font-size: 25PX;
    color: rgb(67, 214, 87);
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .marcas {
    width: 400px;
    height: 400px;
  }
  .destacadas {
    grid-area: destacadas;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .destacadas p {
    font-size: 150%;
    color: black;
    font-weight: bold;
    border-bottom: #35ca74 solid 2px;
    font-family: "Roboto", sans-serif;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
.lista-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 1rem;
  height: 70px;
  margin-bottom: 1rem;
}

.primario {
  background-color: rgb(49, 47, 47);
  color: aliceblue;
}

.secundario {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

.button {
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-bottom: 3px solid;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */