
* {
   
    margin: 0;
}

    header {
        display: flex;
        background-color: rgb(249, 240, 253);
        flex-direction: column;
        align-content: stretch;
        justify-content: space-evenly;
        }

header {
    h1 { background-color: rgb(248, 220, 253);
        padding: 20px;
        margin: 0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        font-size: 40px;
        font-weight: 500;

    }
}

.lista-nav {
     
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
    height: 20px;
    margin-bottom: 1rem;
    }
    
#list-nav {
color: rgb(5, 1, 45);
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: 500;
}



.main-cosmetica {
    display: flex;
    height: 100vh;
}

.card-img-top {
    width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
    
    .main-cosmetica {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .card-img-top {
        width: 80px;
    }

    .card-text {
        font-size: 15px;
        font-weight: 100;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .main-cosmetica {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }


}
/*media escritorio*/
@media screen and (min-width: 901px)and(max-width: 1400px) {
    #list-nav {
        padding: 30px;
        background-color: rgb(248, 216, 251);
    }
    .header-cosmetica {
        display: flex;
        background-color: rgb(249, 240, 253);
        flex-direction: column;
        align-content: stretch;
        justify-content: space-evenly;
        }

    .card-title {
        font-size: 29px;
        text-align:start;
    }
.card-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.card {
    width: 14rem!important
}
.main-cosmetica {
    height: auto;
}

}