%boton {
    border: none;
    padding: 10px;
    border-radius: 03px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 03px solid;
    cursor: pointer;
}

%flexspacearound {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%modificartitulo {
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgbrgb(194, 239, 208);
}