.main-farmacia {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}
.titulo-farmacia {
    background-color: rgb(249, 233, 255);
    padding: 13px;
    font-size: 26px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card {
    width: 400px;
}

.imagenes-tarjeta {
    width: 200px;
}
