.main-farmacia {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}
.titulo-farmacia {
    background-color: rgb(249, 233, 255);
    padding: 13px;
    font-size: 26px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


@media screen and (min-width: 120px) and (max-width: 424px) {  
    .parrafito {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
    }
    .subtitulo {
        text-align: center;
        font-size: 22px;

    }
    
}

 @media screen and (min-width: 425px) and (max-width: 767px) {
    .parrafito {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
    }
    .subtitulo {
        text-align: center;
        font-size: 22px;
        
    }

 }
 @media screen and (min-width: 699px)and(max-width: 2400px) 
 {
    .parrafito {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 22px;
    }
    .subtitulo {
        text-align: center;
        font-size: 26px;
        
    }
 }
