
.titulo-formulario {
    color: rgb(236, 244, 251);
    background-color:rgb(245, 207, 255);
    padding: 35px;
    font-weight: 300;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lista-nav {
     
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
    height: 70px;
    margin-bottom: 1rem;
    }
    
#list-nav {
color: rgb(176, 0, 138);
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: 500;
}
 
.formulario {
    min-height: 100vh;
    font-size: 25px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
@media screen and (min-width: 120px) and (max-width: 424px) {
    
}
