/*diseno mobile*/
@media screen and (min-width: 120px) and (max-width: 424px) {

    

    .grid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "servicios"
            "servicios"
            "destacadas"
            "footer";
        grid-template-rows: 100px 100px 400px 180px 300px 300px;
        grid-template-columns: auto;
        height: 100%;


    }

    header {

        grid-area: header;
        padding: 10px;
        background-image: linear-gradient(to left, #f8ebeb, rgb(246, 246, 245), #e4d4e2);
    }

    nav {
        grid-area: nav;
        background-color: map-get($colores, fondocolorindex);

    }



    .destacadas {
        grid-area: destacadas;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }

    .parrafo {
        font-size: 100%;
        padding: 25px;
        color: black;
        font-weight: bold;
        border-bottom: #35ca74 solid 2px;
        font-family: "Roboto", sans-serif;
        margin-bottom: 2rem;
    }

    #servicios {
        grid-area: servicios;
        max-width: max-content;
        height: max-content;

    }

    .border {
        border: map-get($bordes, borderindex);
    }

    footer {
        grid-area: footer;
        background-color: map-get($colores, fondofooterindex);

    }

    .lista-nav {

        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 1rem;
        height: 70px;
        margin-bottom: 1rem;
        justify-content: space-around;
    }

    #list-nav {
        color: map-get($colores, colorindex);
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    .header-titulo {
        font-family: 'Montserrat', sans-serif;
        ;
        font-size: 25px;

    }

    .imagen-logo {
        transform: translate(30px, 04px);
        height: 20px;
        width: 20px;

    }

    .marcas {
        display: flex;
        width: 150px;

    }

    .continuar {

        padding: 10px;

        .titu-parra {
            text-align: center;
            font-size: 15px;
        }

        #card-img-top {
            width: auto;
        }

        .card-body {
            font-size: 10px;
            background-color: #35ca74;
            color: rgb(2, 2, 2);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
 }
 

/*media tablet*/
@media screen and (min-width: 425px) and (max-width: 767px) {
    .continuar {

        padding: 20px;

        .titu-parra {
            text-align: center;
            font-size: 20px;
        }

        #card-img-top {
            width: auto;
        }

        .card-body {
            font-size: 10px;
            background-color: #35ca74;
            color: rgb(2, 2, 2);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
    

    .grid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "servicios"
            "servicios"
            "destacadas"
            "footer";
        grid-template-rows: 100px 100px 400px 180px 300px 300px;
        grid-template-columns: auto;
        height: 100%;


    }

    header {

        grid-area: header;
        background-color: map-get($colores, fondocolorindex);
    }

    nav {
        grid-area: nav;
        background-color: rgb(235, 217, 252)
    }

    .conteiner-fluid {
        grid-area: footer;
        background-color: map-get($colores, fondofooterindex);

        bottom: 0;


    }

    #productos {
        grid-area: productos;
        background-color: map-get($colores, colorhoover);

    }

    #servicios {
        grid-area: servicios;
        width: auto;
    }

    .border {
        border: map-get($bordes, borderindex);
    }


    .imagen-logo {
        transform: translate(05px, 0px);
        padding: 05px;


        width: 80px;
        height: 80px;
    }



    .destacadas {
        grid-area: destacadas;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }

    .parrafo {
        font-size: 100%;
        padding: 25px;
        color: black;
        font-weight: bold;
        border-bottom: #35ca74 solid 2px;
        font-family: "Roboto", sans-serif;
        margin-bottom: 2rem;
    }

    .marcas {
        width: 200px;
    }

}

/*media escritorio*/
@media screen and (min-width: 699px)and(max-width: 2560px) {

    .continuar {
        li a {
            color: #030303;
        }

        .titu-parra {
            text-align: center;
            font-size: 20px;
        }

        #card-img-top {
            width: auto;
        }
        
        padding: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        justify-content: space-around;

        .card-body {
            font-size: 25px;
            background-color: #b7d597;
            color: rgb(2, 2, 2);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }



    .grid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "servicios"
            "servicios"
            "destacadas"
            "footer";
        grid-template-rows: auto;
        grid-template-columns: auto;
        height: 100%;


    }

    header {

        grid-area: header;
        background-color: map-get($colores, fondocolorindex);
    }

    nav {
        grid-area: nav;
        background-color: rgb(210, 178, 240)
    }

    .conteiner-fluid {
        grid-area: footer;
        background-color: map-get($colores, fondofooterindex);


        
        bottom: 0; 


    }

    #productos {
        grid-area: productos;
        background-color: map-get($colores, colorhoover);

    }

    #servicios {
        grid-area: servicios;
        width: auto;
    }

    .border {
        border: map-get($bordes, borderindex);
    }


    .imagen-logo {
        transform: translate(10px, 10px);
        padding: 30px;


        width: 200px;
        height: 200px;
    }




    #list-nav:hover {
        font-size: 20PX;
        color: map-get($colores, colorhoover);
        text-decoration-line: underline;
    }

    #list-nav {
        font-weight: 100;
        color: rgb(0, 0, 0);
        font-size: 20px;
        transition: color 1.5s, font-size 1.5s;
    }

    .nav-link {
        font-weight: 300;
        color: rgb(0, 0, 0);
        font-size: 30px;
        transition: color 1.5s, font-size 1.5s;
    }

    .nav-link:hover {
        font-size: 20PX;
        color: map-get($colores, colorhoover);
        text-decoration-line: underline;
    }

    .marcas {
        width: 400px;
        height: 400px;
    }
   


     }
    .destacadas {
        grid-area: destacadas;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        p {
            font-size: 150%;
            color: black;
            font-weight: bold;
            border-bottom: #35ca74 solid 2px;
            font-family: "Roboto", sans-serif;
            margin-top: 0;
            margin-bottom: 2rem;
        }

        
}
