@mixin botones() {
    border: none;
    padding: 10px;
    border-radius: 03px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 03px solid;
    cursor: pointer;
    
}